.workspace-layout {
    margin: 0 0.5em;
}

.workspace-indicator {
    padding: 0 0.3em;
    color: #888;
}

.workspace-indicator.active {
    color: #fff;
}

.workspace-indicator:hover {
    border-top: 2px solid #fff;
    margin-bottom: 2px;
}
